
 p {
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
     text-align: justify;
 }
 .navbar {
     font-family: 'Times New Roman', Times, serif;
     font-size: 18px;
     /*background: url("../images/sun-pattern.png");*/
 }

 h1 {
     font-family: 'Times New Roman', Times, serif;
     font-weight:bold;
    
 }
body {
   /* background: url("../images/sun-pattern.png");*/
    background: linear-gradient(45deg, #FFCCCC, #CCFFFF);

}
#foot {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    text-align: center;
   
  }

  #proImage {
      height: 60%;

  }
  a {
      color:royalblue;
      text-decoration:underline;
  }
 
    a:visited {
        color: green;
    }
    a:active {
        color:purple;
    }
    a:hover {
        color: rgb(0, 26, 255);
      }
    .navbar a {
          text-decoration:none;
      }

  

  
